.App {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 47px;
}

.App-header {
  position: relative;
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Block{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Row1{
  width: 100%;
  display: flex;
  justify-content: center;
}
.Row2{
  width: 100%;
  display: flex;
  justify-content: center;
}

.Button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

*:focus {outline-color: none !important}

/* button,.btn:focus{outline: none !important; border: none !important;}
button,.btn:active{outline: none !important; border: none !important;} */

.btn-group,form{
  width: 100%;
  outline: none;

}
.btn{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 0%;
  margin-bottom: 20px;
}
input{
  width: 30%
}
.go-btn{
  width: 30%;
}
#Block-hidden{
  display: none;
}
p{
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #8f8fa1;
}
.show{
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius:20px;
  border: none;
}
.dropdown-menu{
  background-color: #e6e6e6;
}
.dropdown-item{
  display: flex;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  font-weight: 700; 
  padding: 4px 30px;
  color: #8f8fa1;
}

@media only screen and (min-width: 1300px){
  .Block{
    width: 40%;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1299px){
  .Block{
    width: 50%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 899px){
  .Block{
    width: 70%;
  }
}

@media only screen and (max-width: 500px){
  .App-logo{
    margin-bottom: 20%;
  }
  .Block{
    padding-bottom: 2em;
  }
}